[submodule "Dependencies/DXTK"]
	path = Dependencies/DXTK
	url = https://github.com/WhoLeb/MyDirectXTK12.git
	branch = LH-coordinates
[submodule "Dependencies/CppDelegates"]
	path = Dependencies/CppDelegates
	url = https://github.com/simco50/CppDelegates.git
[submodule "Dependencies/assimp"]
	path = Dependencies/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Dependencies/D3D12MA"]
	path = Dependencies/D3D12MA
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator
[submodule "Dependencies/DirectXTex"]
	path = Dependencies/DirectXTex
	url = https://github.com/microsoft/DirectXTex.git
[submodule "Dependencies/LearningDX12"]
	path = Dependencies/LearningDX12
	url = https://github.com/WhoLeb/LearningDirectX12Fork.git
