[submodule "vendor/imgui"]
	path = vendor/imgui
	url = git://github.com/ocornut/imgui.git
	branch = docking
[submodule "Blainn/vendor/spdlog"]
	path = Blainn/vendor/spdlog
	url = git://github.com/gabime/spdlog.git
[submodule "Dependencies/DXTK"]
	path = Dependencies/DXTK
	url = git://github.com/microsoft/DirectXTK12.git
[submodule "Dependencies/CppDelegates"]
	path = Dependencies/CppDelegates
	url = git://github.com/simco50/CppDelegates.git
